<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Company</title>
</head>
<body>
<th:block th:if="${currentUser.role.name == 'ADMIN'}">
    <a href="/admin/home">Home</a>
</th:block>
<th:block th:if="${currentUser.role.name == 'USER'}">
    <a href="/user/home">Home</a>
</th:block>

<form action="/add/company" method="post">

<input type="text" name="name" placeholder="please input name">
<input type="text" name="address" placeholder="please input address">
    <input type="submit" value="add company">


</form>

</body>
</html>