<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<th:block th:if="${currentUser.role.name == 'ADMIN'}">
    <a href="/admin/home">Home</a>
</th:block>
<th:block th:if="${currentUser.role.name == 'USER'}">
    <a href="/user/home">Home</a>
</th:block>
<form action="/add/user" method="post" enctype="multipart/form-data">

    <input type="text" name="name" placeholder="please input name">
    <input type="text" name="surname" placeholder="please input surname">
    <input type="email" name="email" placeholder="please input email">
    <span style="color: red" th:if="${msgEmail != null}" th:text="${msgEmail}"></span>
    <input type="password" name="password" placeholder="please input password"><br>
    <label for="profPic">User Image</label>
    <input type="file" name="profPic" id="profPic" accept="image/*">
    <span style="color: red" th:if="${msgFile != null}" th:text="${msgFile}"></span>
    <input type="submit" value="add user">

</form>

</body>
</html>