<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}">
    <a href="/company/add">Add company</a> |
</th:block>
<th:block th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}">
    <a href="/admin/home">Home</a>
</th:block>
<th:block th:if="${currentUser != null && currentUser.role.name == 'USER'}">
    <a href="/user/home">Home</a>
</th:block>

<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
        <th>size</th>
    </tr>

    <tr th:each="company:${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.address}"></td>
        <td th:text="${company.size}"></td>

    </tr>

</table>
</body>
</html>