<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<th:block th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}">
    <a href="/user/add">Add User</a>
</th:block>
<th:block th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}">
    <a href="/admin/home">Home</a>
</th:block>
<th:block th:if="${currentUser != null && currentUser.role.name == 'USER'}">
    <a href="/user/home">Home</a>
</th:block>

<table border="1px">
    <tr>
        <th>id</th>
        <th>picture</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>Role</th>
        <th>Remove</th>
    </tr>

    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td>
            <img th:if="${user.picture != null}"
                 th:src="@{/user/getImage(fileName=${user.picture})}" width="100">
            <img th:if="${user.picture == null}" src="/images/thumbb.jpg" width="100">
        </td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <th:block th:if="${currentUser != null && currentUser.role.name == 'ADMIN'}">
            <td>
                <a th:href="@{/user/delete(byId=${user.id})}">Remove</a>
            </td>
        </th:block>

    </tr>
</table>


</body>
</html>